[2011-12-01 22:43] warrickcustomhomes opened #3 "pcaprub version error when requiring packetfu"
I've installed pcaprub version 0.11.0 and packetfu version 1.1.3 via rubygems, and when I try to require packetfu in IRB an error gets raised saying a version of pcaprub >= 0.8-dev is not installed. I looked at the code in packetfu.rb and from what I can tell it looks like the '-dev' in the pcaprub version is a requirement. Is this accidental or intentional?

[2011-12-05 03:30] #3 closed, assigned to nobody

[2012-04-26 13:06] lupine opened #6 "PacketFu::Capture / PacketFu::Inject / PacketFu::Packet#to_w"
Bit of an architecturing one, this. I'm using PacketFu to implement a DHCP server on a system that should technically be a mere bridge (so a UDP/IP socket isn't an option).

I was using PacketFu::Capture to receive ethernet frames with DHCP in them, building a response frame, and calling frame#to_w("iface_name") to inject a response, and it works quite nicely. However, there are issues when the se

[2012-08-05 01:10] justfalter opened #13 "Packet.parse() (design and efficiency)"
I think one of the last remaining pain-points within PacketFu is the way in which Packet.parse(..) goes about its business.
1. It receives a data string (packet)
2. Gets a list of all the registered packet classes (PacketFu.packet_classes)
3. Asks each class whether it thinks it can parse the data structure (.can_parse?)
4. Of those packets classes that 'can parse' the packet, whoever has the high

[2012-11-20 14:25] todb-r7 opened #14 "Need a cross-platform way to get at the ARP table"
It wouldn't be native Ruby, but it would be nice to get at the local ARP table. Why re-arp things when the OS already knows about it? For example:

[code]

You'd certainly want this returned as a hash, since IP addresses only get the one MAC address.

Suggested via e-mail by Charles Sullivan.

[2013-01-20 13:53] Guoxweii opened #19 "How to get host and time from PacketFu::Packet object"
now l want to get the hostname and time from the  PacketFu::Packet object

but l try the almost of all of the methods ， no result！

how can l get these values ?

[2013-01-20 16:21] #19 closed, assigned to nobody

[2013-02-05 19:26] derwydd opened #20 "Uninitialized constant Capture (Name Error)"
I get the following error:
simple-sniffer.rb:11: uninitialized constant Capture (Name Error)
           from simple-sniffer.rb:22
My environment is Ubuntu 10.4
Using RVM
Ruby 1.9.2-p180
The latest version of packetfu
pcaprub version is 0.9.2

What am I doing wrong?
Thanks.

[2013-02-06 13:18] dmaciejak opened #21 "add support for ssdp ?"
Hi,

what do you think of adding support for SSDP discover requests and parsing result  ?

regards

[2013-02-06 16:45] #21 closed, assigned to nobody

[2013-03-27 10:47] dmaciejak opened #24 "bump version ?"
Hi,

please bump the version to be able to have lldp support in the gem

thanks,
david

[2013-05-29 07:20] ethanqiang opened #26 "it does't work while i'm using wlan0"
please kindly tell me what should i do shen i use wlan0 (not eth0 ),thank you very much

[2013-05-29 14:59] #26 closed, assigned to nobody

[2013-06-03 17:47] #20 closed, assigned to nobody

[2013-06-06 15:51] #24 closed, assigned to nobody

[2013-06-09 16:26] rbirtles opened #28 "Packetfu and ruby 2.0.0"
I could be doing something stupid however I am having some real trouble getting Packetfu to work along with Ruby version 2.0.0.

I used rvm to install Ruby version 1.9.3 and had no issues.

[2013-07-09 16:49] todb-r7 opened #30 "Parse Pcap-NG"
Recent versions of Wireshark and TShark save in pcap-ng, not pcap format, by default. PacketFu should be able to handle this.

http://wiki.wireshark.org/Development/PcapNg

This may involve converting to Pcap first, which would be the slow way, but would ensure no nonsense (to us) metadata.

[2013-07-17 12:59] yasir091 opened #31 "packetfu does not support vlan tagging protocol vlan tag 802.1q"
Hi,
 While using packetfu, I came across the problem that packets that contain vlan tag 802.1q (this protocol is after eth layer before ip, fixed 4 bytes) is not supported.

Is there a plan to support it? - This is pretty common in our and probably other envs that pcap files will have vlan tagging protocol.

Thanks
Yasir.

[2013-09-12 22:56] todb-r7 opened #35 "Regexp's should be binary specific"
See the grep notes from HD:

https://gist.github.com/hmoore-r7/c00d7f80330e41fa7e4a

[2014-01-03 07:17] shiliqiang167 opened #39 "Utils::whoami issuse"
When I excute the function in IRB terminal, it prompt "Didn't receive the whoami() packet, can't automatically configure."
But I can cature the udp packet by wireshark.

[2014-01-08 01:07] claudijd opened #40 "Uninitialized Constant when using PacketFu::Utils.whoami?"
I'm getting uninitialized constant errors when using the PacketFu::Utils.whoami? method.

Here is how I replicate the issue on OSX 10.8.5, using the latest PacketFu source, using RVM 1.25.7 and Ruby 1.9.3p484 (2013-11-22 revision 43786) [x86_64-darwin12.5.0].  I'm invoking the irb session with "rvmsudo irb -I lib" in the source checkout of PacketFu.

[code]

I believe the code I'm tripping over is

[2014-01-08 01:26] #40 closed, assigned to nobody

[2014-01-09 05:27] claudijd opened #41 "PacketFu::Utils.whoami? yield inconsistent results on Mac OSX wireless interface"
I'm seeing some weird behavior when using PacketFu::Utils.whoami? when specifying an explicit "en1" (wireless) interface on Mac OSX 10.8.5.

I first experienced the issue when writing a basic script to acquire the interface information for en1, like so:

[code]

This when invoked via IRB almost always yields a SocketError exception, like so...

[code]

Now I've seen this before and there is usuall

[2014-01-12 16:41] #39 closed, assigned to nobody

[2014-01-12 16:41] #41 closed, assigned to nobody

[2014-02-11 14:22] claudijd opened #44 "Add rspec coverage for all objects defined at the top-level of ./lib/packetfu"
This would include rspec coverage for:

PacketFu::Capture [DONE]
PacketFu::Config [DONE]
PacketFu::Inject [DONE]
PacketFu::PcapHeader [DONE]
PacketFu::Timestamp [DONE]
PacketFu::PcapPacket [DONE]
PacketFu::PcapPackets [DONE]
PacketFu::PcapFile [DONE]
PacketFu::Read [DONE]
PacketFu::Write [DONE]
ICMP [DONE]
ARP [DONE]
IPv6 [DONE]
IP [DONE]
Eth [DONE]
StructFu [DONE]
PacketFu::Packet
TCP

Yeah, I kn

[2014-02-11 14:27] claudijd opened #45 "Get PacketFu building regularly on a CI setup"
This task would include configuring something like travis for PacketFu so we can always see the build status of all of our branches, including Pull Requests.

While we're in here, we can probably also spruce up the Rakefile to include a semi-polished release process to make gem cutting and publishing more regular as we fix bugs and add features.

I did something similar with C7Decrypt and made gem

[2014-02-11 14:31] claudijd opened #46 "Add a CONTRIBUTING.md file to guide potential contributors"
I came across this from a "How to make your Ruby project more approachable" guide a long time back and decided to do it on my projects.

Not sure what you're feeling are on it, but it's something easy to do and I think it looks nice....

Example:

https://github.com/claudijd/c7decrypt/blob/master/CONTRIBUTING.md

[2014-02-11 14:38] claudijd opened #47 "Two space indents?"
-ducks-

[2014-02-12 04:21] claudijd opened #50 "Add Code Quality Metrics"
I find that knowing that a project has solid quality code increases my chances of using it and contributing to it.

One of the ways I've done this on my other projects is to integrate it with something like CodeClimate so users and devs can see where code is at, where it's moving toward and  helps sniff out methods that likely need some refactoring in a semi-objective way.

Here's an example of wh

[2014-02-12 05:42] claudijd opened #52 "Set Avatar for PacketFu org?"
Not a big deal, but better than 8-bit random image.

[2014-02-21 02:53] claudijd opened #53 "Update outdated references to Ruby 1.8.x"
I found at least one example of this in:

https://github.com/packetfu/packetfu/blob/master/test/all_tests.rb

I'm betting there are more, lets find them and fix them.

[2014-02-21 03:04] claudijd opened #54 "Figure out why specs don't pass on Mac OSX w/ Wireless Interface"
I tried running specs when my default interface was "en1" (wireless) on OSX, but it fails due to interface selection issues.  This is likely related in some fashion to the same problem we fixed in #43

Here's my result:

rvmsudo ruby all_tests.rb

Testing PacketFu v1.1.11
    Running test_arp.rb...
    test_arp.rb: All passed
    Running test_capture.rb...
    /Users/jclaudius/code/packetfu/lib/pa

[2014-02-21 05:05] claudijd opened #55 "Tag Historic Releases"
Go back through the commit history and tag all project version bumps to provide a comprehensive version/release history.

If we're feeling ambitious, maybe even putting together some quick and dirty release notes for each release so people using older versions of PacketFu know what we're missing out on.

[2014-02-21 05:25] claudijd opened #56 "Create a twitter account for PacketFu"
I think this account could be used for a couple things...

1.) Re-tweeting people having a good experience using PacketFu
2.) Communicating PacketFu news/releases
....

[2014-02-22 00:27] #50 closed, assigned to claudijd

[2014-02-22 00:27] #47 closed, assigned to claudijd

[2014-03-30 17:22] lucacervasio opened #59 "ICMP Header wrong checksum calculation"
I don't know if I missed something but I think that ICMPHeader lacks the optional part of the header, where I'm supposed to place sequence number an id when crafting an ICMP  Reply (type 0).

I tried to put the seq and id in the payload but the recalculated checksum is wrong and the reply is not understood by the client.

Any idea or pointer ?

Thanks
Luca

[2014-04-19 14:58] #45 closed, assigned to nobody

[2014-04-22 17:31] #53 closed, assigned to claudijd

[2014-04-22 17:35] #46 closed, assigned to nobody

[2014-04-22 17:37] #28 closed, assigned to nobody

[2014-04-26 22:34] markson opened #65 "Utils.whoami? don't work on eth1"
[code]

[2014-05-26 01:32] #59 closed, assigned to nobody

[2014-05-26 01:34] #56 closed, assigned to nobody

[2014-05-26 02:45] #65 closed, assigned to nobody

[2014-07-30 13:59] lucacervasio opened #69 "Capture within thread on Ubuntu 14.04"
Hello,
I'm facing a really strange behaviour. I've the following code and it works on Debian 7. The same code on Ubuntu 14.04 doesn't work and doesn't capture packets at all, or randomly I get some packets but not as many as I expect.

[code]

I tried removing the thread block:

[code]

and of course this works perfectly.

I suspect this depends on pcaprub but I'm not sure. Any idea on what's happ

[2014-08-03 15:59] #69 closed, assigned to nobody

[2014-08-18 17:00] diogomonica opened #70 "Invalid Packets when sniffing in Monitor mode"
I’m trying to sniff WiFi traffic in Monitor mode on OSx using something of this sort (also tried with airport sniff and tshark):

[code]

Unfortunately when I point PacketFU at any of the generated pcaps it tells me all the packets are invalid:

[code]

All the pcaps seem valid (tshark, tcpdump and wireshark can all read them).

I thought it could be that Tcpdump was including radio-tap headers on

[2014-08-23 04:21] diogomonica opened #71 "Wrong structure when matching protocols"
The way the code is currently organized right now, packetfu tries a top-down matching approach for protocols:

`@packet_classes_by_layer = @packet_classes.sort_by { |pclass| pclass.layer }.reverse`

This means that it starts by trying to see if the packet is a PacketFu::HSRPPacket valid packet and goes through all of them until it reaches PacketFu::InvalidPacket:

`p = classes.detect { |pclass| pc

[2014-08-23 06:47] svdasein opened #72 "PCapFile.array_to_file does not work with timestamp=>data hashes"
As written PCapFile.array_to_file will attempt to use the key part of a Hash as a binary timestamp value if the array elements passed through the method's :array/:arr/:a parameter are hashes instead of Packets.  Hash keys are "frozen" in ruby 2, so  an attempt to force binary encoded on a frozen string fails.

The problem is fixed by changing

this_ts = p.keys.first

to

this_ts = p.keys.first.dup

[2014-08-29 22:54] amoghe opened #74 "[RFC] "Enhancements" to EthPacket and IpPacket types"
I'm working on a gem to allow interacting with tun/tap devices in linux. Reading from these involves reading from an fd (```IO``` type, really).

I'd like to be able to levarage the protocol parsing thats been done in ```PacketFu```, but I'm not really sure how to go about it. Specifically:

* For TAP devices: from my reading of the code, it seems like packet creation needs a full string to be pas

[2014-09-01 18:37] michaelmior opened #75 "Hosted documentation"
It would be convient to have a link to publicly hosted documentation in addition to the possibility of building it locally.

http://rdoc.info/github/packetfu/packetfu/master/frames

[2014-09-03 07:07] KINGSABRI opened #76 "How to build an SNMP Packet"
Hello guys,,
I'm trying to send an SNMP packet with spoofed IP.

The main example was in Scapy
[code]

My PacketFu code s

[code]

The main issue is that packet goes as a regular UDP packet no SNMP

What I miss here?

[2014-10-08 13:24] #75 closed, assigned to nobody

[2014-11-12 06:54] Capcah-zz opened #77 "Maintaining state for stateful protocols."
When decoding a capture and injecting on a TCP packets, it is useful to be able to keep state, since doing it by hand is quite cumbersome and error prone. Is it a desired feature or is it out of scope? If that's desired, I'm willing to send a pull requests with those features integrated. I've written code for a similar task, integrating it should be a quick job.
To make myself clear, an example in

[2015-02-25 12:15] emmanuelmillionaer opened #79 "How to get interfaces?"
Hi, thanks for this great gem! I'm experementing on a Windows 8 with this standard code:

    def sniff(iface)
      cap = Capture.new(:iface => 'eth0', :start => true)
      cap.stream.each do |p|
        pkt = Packet.parse p
        if pkt.is_ip?
          next if pkt.ip_saddr == Utils.ifconfig(iface)[:ip_saddr]
          packet_info = [pkt.ip_saddr, pkt.ip_daddr, pkt.size, pkt.proto.last]

[2015-02-25 14:31] emmanuelmillionaer commented on #79
Sorry i already solved my problem! I had to view for the name in Wireshark 'Details' Thanks

[2015-08-07 01:33] claudijd commented on #79
Awesome! Glad you solved your own issue.  Thanks for using PacketFu!

[2015-08-07 01:33] #79 closed

[2015-08-07 02:40] todb-r7 opened #87 "Two consistent failures on 2.1.6"
[code]

[2015-08-07 02:42] todb-r7 commented on #87
Looks like it's a simple string encoding deal, missing a magic header, hunting down shortly.

[2015-08-07 02:47] todb-r7 commented on #76
Sounds like this is resolved then. If not, bug me to reopen.

[2015-08-07 02:47] #76 closed

[2015-08-07 02:48] #74 closed

[2015-08-07 02:49] todb-r7 commented on #72
Ah thanks @svdasein ! Going through the outstanding 2.x incompats with @claudijd right this moment, so hopefully can knock this out.

[2015-08-07 02:52] claudijd commented on #54
No longer an issue.

[2015-08-07 02:52] #54 closed

[2015-08-07 02:53] todb-r7 commented on #71
Yep, this is a structural issue that I struggle with for non-Eth packets, and for IPv6 stuff.

One contributor, on #68, short circuited a lot of the top-down-ness by just tossing an ip6 chooser option on creation. I'm happy to talk about this more on this issue on parsing.

[2015-08-07 03:17] todb-r7 commented on #35
Bummer, the gist is gone.

[2015-08-07 03:46] claudijd commented on #87
Fixed in #88

[2015-08-07 03:46] #87 closed

[2015-08-13 16:45] todb-r7 opened #90 "Release PacketFu gem: Version Questions"
After the OSSM hackparty with @claudijd, feels like it's time to release a PacketFu gem bump.

I'd like to target Monday, August 17, mainly because releasing gems near a weekend is kind of a jerk move.

So, I'll bang through whatever else is assigned to me, drop Ruby 1.8 support from the docs, and bump to.. PacketFu 2.0.0? I feel like if 1.8 is dropped that's a significant API change according to

[2015-08-18 17:14] claudijd commented on #90
1.2.0 seems the most appropriate to me.

We can probably wait on 2.x to introduce big breaking changes in interfaces/etc. as the project evolves.

[2015-08-18 17:17] claudijd commented on #90
Additionally, it might be in our best interest to provide more regular patch releases as we find and fix bugs and accept new functionality from the community.  Having a 20 month gap in releases is perhaps a little too infrequent considering bug-fixes, features provided by the community, and the general pace of Ruby version releases.

[2015-08-21 17:10] claudijd commented on #44
Knocked out ICMP and ARP in #91 and #93 respectively.

Still a long long way to go!

[2015-08-21 18:13] claudijd commented on #44
Knocked out IPv6 in #94

[2015-08-21 22:01] todb-r7 commented on #44
Thanks for rocking out on this, @claudijd!

[2015-08-21 22:03] todb-r7 commented on #90
Oh I agree wholeheartedly, sitting here after blowing through a weak promise of releasing last Monday.

I have no intention of sitting on dev versions for stupidly long times going forward. My own schedule is a little less cramped, and that should translate into more consistent PacketFu love.

[2015-08-21 22:04] todb-r7 commented on #90
Also, figure on a Monday release for real this time.

[2015-08-22 02:53] claudijd commented on #44
IP #95

[2015-08-22 03:48] claudijd commented on #44
Eth #96

[2015-08-22 03:58] claudijd commented on #90
:+1:

[2015-08-25 16:24] todb commented on #90
Okay, this is done. yay.

https://github.com/packetfu/packetfu/tree/version-1.1.11

[2015-08-25 16:24] #90 closed

[2015-09-13 17:19] tetraf opened #102 "[feature] Read Pcap from Stdin"
It may be interesting to support reading from $stdin (i.e. in PcapFile).
Launch a tcpdump through ssh on a remote machine for live data processing on a local machine is a legit example of use.

[2015-09-17 05:31] onlyforarif opened #103 "PacketFu shell LoadError"
I have successfully installed the packetfu gem, to test the installation i try to load the shell:

$ sudo irb -r packetfu-shell.rb

It gives the following error:

`require':LoadError: cannot load such file -- packetfu-shell.rb
    1.9.3-p551 :001 >

[2015-09-17 18:49] claudijd commented on #103
@onlyforarif the examples are not readily loadable from the gem install.

You'll want to download the source from git using a git clone.

Also, I haven't used packetfu-shell in ages and I think there is some weird path magic when you get there (we plan to fix that).  I'd recommend using an alternative example to test your install or just writing a quick script to test.

[2015-09-18 18:27] claudijd commented on #103
@onlyforarif I did look into the PacketFu-shell stuff today and it looks like it wasn't functioning as expected. I made some tweaks in #105 that makes it functional again...

    $ rvmsudo ruby -I lib/ examples/packetfu-shell.rb
    Password:
     _______  _______  _______  _        _______ _________ _______
    (  ____ )(  ___  )(  ____ \| \    /\(  ____ \\__   __/(  ____ \|\     /|
    | (    )|

[2015-09-18 18:46] claudijd opened #107 "Clean up old remote branches"
We have a number of remote branches that are out of date and are probably no longer needed unless they are for prototyping purposes.

We should probably just go through them see what's there and purge the old stuff that we already have in master or don't need anymore.

[2015-09-18 19:04] claudijd commented on #103
Fixed in #105

[2015-09-18 19:04] #103 closed

[2015-10-13 22:49] lucacervasio commented on #69
@claudijd I'm facing the same issue again. I noticed - either on Ubuntu and Debian - that PacketFu randomly can't receive packets when invoked in a ruby script with a high number of threads involved. The same script works fine if I remove the `PacketFu::Capture.new` and I use `PCAPRUB::Pcap.open_live` instead.
I can provide detailed infos if needed. Any ideas of pointer ?

Thanks
Luca

[2015-10-13 23:24] claudijd commented on #69
@lucacervasio how many threads are you talking about?  Also, can you provide an example PoC just so I can replicate the behavior and do some debugging?

I seem to remember something about PacketFu only having a limited buffer (I want to say 30 packets, but I could be way off) before things start sliding off.  I have no tangible basis for this, but I seem to remember something like this happening t

[2015-10-13 23:27] claudijd commented on #69
@lucacervasio I just realized you had code above.  Please let me know if that is sufficient in your current use case.  Thanks!

[2015-10-14 02:00] justfalter commented on #69
Chiming in because @claudijd mentioned me. Hi Jon!
The first thing I have to ask is why is your app multi-threaded? You say that you've got lots of threads, and I wonder what those other threads are doing. What are you doing with the packets on the other side of the queue? Ruby MRI can only execute one thread at a time, so any time not spent reading packets from the wire can lead to packet drops.

[2015-10-14 18:24] claudijd commented on #69
@justfalter - thanks for chiming in and sharing some wisdom.

@lucacervasio - looking forward to your response.

[2015-10-15 00:39] lucacervasio commented on #69
@justfalter my app has several modules capturing and placing packets on the wire on multiple interfaces, receiving commands and sending logs over websocket, interacting with tty serial interface and so on.

@claudijd I isolated two problems: first one on debian jessie with libpcap0.8-1.6 not being able to receive packets at all both with packetfu and pcaprub. I noticed that reverting on libpcap0.8

[2016-01-18 21:29] shideneyu opened #109 "PacketFu::Capture array is empty"
As per the exemple: http://www.rubydoc.info/github/todb/packetfu/PacketFu/Capture

    irb(main):006:0> cap = PacketFu::Capture.new(:iface => 'wlan0', :promisc => true, :start => true)
    => #<PacketFu::Capture:0x007f213cdb2a68 @array=[], @stream=#<PCAPRUB::Pcap:0x007f213cdb2928>, @iface="wlan0", @snaplen=65535, @promisc=true, @timeout=1, @filter=nil>
    irb(main):007:0> cap.start
    => #<PCAPR

[2016-01-18 22:22] claudijd commented on #109
@shideneyu - I attempted to reproduce what you are seeing.  I started a continuous ping against 8.8.8.8 in one terminal and then replicated your cap invocation and was able to save packets and had items in the array.

2.2.3 :002 > require 'packetfu'
 => true
2.2.3 :003 > cap = PacketFu::Capture.new(:iface => 'en0', :promisc => true, :start => true)
 => #<PacketFu::Capture:0x007fe9c90a4dc0 @array=[

[2016-01-18 23:03] shideneyu commented on #109
Thank you very much for your prompt answer, I am glad to get one, and I more than welcome your help since I really neet it to work.

I am using Linux Mint 17. My libpcap-dev library got a version of 1.4.0-2 (to maybe bypass [this issue](http://stackoverflow.com/questions/25053482/packetfu-capture-within-thread-on-ubuntu-14-04) ? )

I managed to find a snipet code written in python of a tool named

[2016-01-18 23:54] shideneyu commented on #69
Hello @lucacervasio . I think that I encounter your issue at #109 . Which libpcap do you use ? For my part, I use  libpcap0.8:amd 1.5.3-2 and libpcap-dev 1.4.0-2. I can not capture any packet. I'm now quite sur our issues are related.

Can you advice me a packet that I can downgrade ?

And seriously, this is completely messed up.

    ➜  ~  sudo apt-get remove libpcap0.8:amd64
    [sudo] password

[2016-01-19 08:35] lucacervasio commented on #69
I dont' know if they're related or not. My issue is related to a new feature in kernel TPACKET_V3, pcap starting from version 1.5 uses this new feature and breaks things. Then there was a patch in kernel to address this bug.

So you can either use old version of pcap (1.4 in my tests is ok) or newer version of pcap (>= 1.5) AND kernel >= 3.2.

If you use pcap >= 1.5 AND kernel < 3.2 then you have

[2016-04-06 18:56] claudijd opened #115 "Re-enable Travis-CI for 1.9.3 Branch"
Opening this case to remind us to re-enable 1.9.3 builds when travis-ci fixes their stuff.

https://github.com/packetfu/packetfu/pull/114

[2016-04-06 21:16] claudijd commented on #107
As of April 6th...

$  git branch -r
  origin/HEAD -> origin/master
  origin/add_iface_validation
  origin/add_ruby_2.3.0
  origin/bug/bpf_ignored
  origin/convert_eth_specs
  origin/convert_ipv6_spec
  origin/fix_gem_build_warnings
  origin/fix_raise_error_warnings
  origin/fix_specs_on_osx
  origin/freebsd_ifconfig_parser
  origin/git_ignore_additions
  origin/lldp-support
  origin/master
  orig

[2016-04-06 21:20] claudijd commented on #107
Pruned a bunch of old branches, here's the current status...

$  git branch -r
  origin/HEAD -> origin/master
  origin/add_ruby_2.3.0
  origin/bug/bpf_ignored
  origin/lldp-support
  origin/master
  origin/test-branch
  origin/use_sane_defaults_for_ifconfig

[2016-04-06 21:24] claudijd commented on #107
Yay, cleaned up, just master now!

<img width="344" alt="screen shot 2016-04-06 at 5 23 54 pm" src="https://cloud.githubusercontent.com/assets/794283/14333375/69299b0e-fc1c-11e5-9185-71c458979de1.png">

[2016-04-06 21:24] #107 closed

[2016-04-08 00:35] claudijd commented on #115
Since 1.9.3 is now EOL, closing this, it's likely not coming back.

[2016-04-08 00:35] #115 closed

[2016-04-09 22:23] #14 closed

[2016-04-09 23:39] claudijd commented on #102
@tetraf Thanks for the suggestion!  If you'd like to work up a prototype and send us a PR we'd be happy to review it and see if it would be good fit for PacketFu.

[2016-04-09 23:39] #102 closed

[2016-04-09 23:57] claudijd commented on #30
Since this is going to likely be one of the bigger features added to PacketFu in some time, I've create a WIP PR #125 for this so we can bump it along until it's completed.

[2016-04-20 21:02] #55 closed

[2016-04-23 03:57] claudijd commented on #44
PCAP #132

[2016-04-24 02:59] claudijd opened #135 "Convert all specs that write to disk to Tempfile"
We have a bunch of specs that don't use Tempfile to write to disk, which means that we pollute the working directory when running our specs and need to remember to clean up after ourselves all the time.

This issue to go through all the specs that write to disk and convert them to Tempfile.

[2016-04-24 03:15] claudijd commented on #44
HSRP, InvalidPacket, LLDPPacket, and UDP in #136

[2016-04-24 03:23] claudijd commented on #44
Remaining of the existing Unit::Test specs to convert:

- Capture
- Inject
- Packet
- StructFu
- TCP

![soon](https://cloud.githubusercontent.com/assets/794283/14765296/60ccf974-09aa-11e6-94eb-b8c8d0cd6d44.jpg)

[2016-04-24 04:43] claudijd opened #139 "Provide proper abstraction for libpcap bindings"
Right now, we use pcaprub as our only libpcap binding, but we could also get similar functionality from say ffi/pcap.  I'm not sure if one is better than the other, but I imagine there might be scenerios where end users may want to choose one or the other and it would give use greater flexibility in the event that pcaprub wasn't and tightly maintained as other libpcap providers.

- https://github.

[2016-05-01 04:30] #135 closed

[2016-05-09 04:13] claudijd opened #152 "PCAP-NG Support Feedback Loop"
We're going to be creating a pre-release for PCAP-NG support in PacketFu soon after we land #125

I would like to use this thread to capture any community feedback for people who are interested in doing so.

Initial list of interested parties: @claudijd, @sdaubert, @bf4

[2016-05-09 18:49] claudijd commented on #152
Code is merged in #125, working on getting gem push rights to cut this pre-release from @todb.

[2016-05-09 18:50] claudijd commented on #30
This work was completed in #125

[2016-05-09 18:50] #30 closed

[2016-05-09 19:50] todb-r7 commented on #152
@claudijd, you're added as an owner now, and should be able to publish.

https://rubygems.org/profiles/claudijd

@lsanchez-r7, I'm going to warn our friends at metasploit-framework in an issue about this change, and the likelihood of getting PacketFu updates more regularly in the future.

[2016-05-10 01:54] claudijd commented on #152
PacketFu version 1.1.12.pre (now with support for PCAP-NG) has been released for feedback.

Pre-release notes can be found here: https://github.com/packetfu/packetfu/releases/tag/version-1.1.12.pre

You can install the pre-release like so:

    $ gem install packetfu --pre
    Fetching: packetfu-1.1.12.pre.gem (100%)
    Successfully installed packetfu-1.1.12.pre
    Parsing documentation for pack

[2016-05-10 02:23] claudijd commented on #152
/cc @pwnbus FYI

[2016-05-17 03:56] Pouya47 opened #156 "whoami problem in offline mode"
Hi
I have a ruby code like below
[code]
 when i'm connect to internet it works fine, but when i'm offline, I get this error

What's the problem?
Can I manually create $config variable, without use whoami?

[2016-05-17 15:17] claudijd commented on #156
@Pouya47 the whoami functionality within PacketFu uses active traffic to detect it's interface information in the current state.  The code that does this can be found here, if you're curious:

https://github.com/packetfu/packetfu/blob/master/lib/packetfu/utils.rb#L132-L172

It is possible to create PacketFu::Config objects manually, and the code that define config objects can be found in the docs

[2016-05-18 14:22] Pouya47 commented on #156
OK, I want to use this ruby file (use packetfu) in **offline mode**.
This script is for testing TCP split hand shake and listen to port 8080 by default in accept TCP connection.

[fakestack.zip](https://github.com/packetfu/packetfu/files/270682/fakestack.zip)
tnx

[2016-05-18 17:04] claudijd commented on #156
@Pouya47 I'm going to CC @todb on this since he's also a PacketFu dev and I think he may have coined the term TCP split handshake (or he at least wrote about it here https://nmap.org/misc/split-handshake.pdf) so maybe he's got interest here or would just like to hear someone is working on this.

Back to your problem though, when you say above that you don't have an "Internet connection" can you ad

[2016-05-18 17:10] claudijd commented on #156
Also, as an aside, since I was also into this type of work at one point. You might also find my BNAT work from 11' of interest => https://github.com/claudijd/bnat

[2016-05-21 13:22] Pouya47 commented on #156
@claudijd I wan't use this tool in a LAN network that's not connected to internet, and it has a static IP address and don't have default gateway, client connect directly (with a switch) to it.
I wan't to build an Firewall Tester, and it must work in offline mode.
tnx

[2016-05-22 14:22] todb-r7 commented on #156
@pouya47, since your OS won't have a route in the routing table, you won't be able to automatically derive the MAC for the destination mac. You'll need to populate that yourself and manually decide what interface to use. In other words, you won't be able to use whoami(). You'll have to create packets yourself with TCPPacket.new().

Look at how whoami() constructs the config hash, and fill in those

[2016-05-23 05:19] Pouya47 commented on #156
I set default gateway of server the ip address of client and script works!
@todb-r7,  @claudijd , thanks for helping me.

[2016-05-23 05:19] #156 closed

[2016-06-03 03:40] xqjcool1 opened #157 "uninitialized constant PacketFu::Packet::IPv6Packet (NameError)"
When I invoke PacketFu::Packet.parse(cap.array[0]) to parse a packet
an  error occurs as below:
/usr/local/lib/ruby/gems/2.2.0/gems/packetfu-1.1.12.pre/lib/packetfu/packet.rb:47:in `parse': uninitialized constant PacketFu::Packet::IPv6Packet (NameError)
	from arpcap.rb:6:in `<main>'

[2016-06-04 11:52] sdaubert commented on #157
@xqjcool1 try to require `packetfu/protos/ipv6` and please tell me if it removes your problem.

[2016-08-02 21:14] mudongliang opened #158 "Encoding::CompatibilityError"
I tried two version of ruby 1.9.1 and 2.3.0 with packetfu 1.1.11 to execute one ruby file. However, there is always one error: `ASCII-8BIT and UTF-8 (Encoding::CompatibilityError)`

[code]

[code]

How should I do to fix this problem and execute my ruby file?

[2016-10-20 21:01] claudijd commented on #152
No real feedback here, so I'm inclined to move forward with making this a release.  If people have issues, then they can submit PR/Issues and we can address them at that time in point releases.

[2016-10-20 21:03] claudijd commented on #152
@todb mind giving me a 👍 to move forward with doing a prod release of this and get this cleared out?

[2016-10-20 21:10] claudijd commented on #158
@mudongliang can you provide some PoC/sample script logic that triggers this issue so we can debug the context?

[2016-10-20 21:15] claudijd commented on #157
@sdaubert @xqjcool1 I believe the issue is a namespacing problem and not a loading problem....

    2.2.3 :001 > require 'packetfu'
     => true
    2.2.3 :002 > PacketFu::IPv6Packet
     => PacketFu::IPv6Packet

I will send a PR shortly to fix this.

[2016-10-20 21:23] claudijd commented on #35
@todb-r7 anymore leads here on this one? trying to determine if this is actionable or not.

[2016-10-20 21:30] #157 closed

[2016-10-20 21:31] claudijd commented on #157
@xqjcool1 this isn't released yet in gem version, but you can use the fix in master until we cut our next release.

[2017-03-14 02:09] vsboost opened #166 "Cant install needs ruby (>= 2.1.0)"
Bundler could not find compatible versions for gem "ruby":
  In Gemfile:
    ruby

    packetfu was resolved to 1.1.13.pre, which depends on
      ruby (>= 2.1.0)

Could not find gem 'ruby (>= 2.1.0)', which is required by gem 'packetfu', in
any of the sources.

[2017-03-14 03:51] vsboost commented on #166
All good, updated ruby.

[2017-03-14 03:51] #166 closed

[2017-04-04 18:57] normelton opened #167 "New gem version?"
Can we get a new gem cut on this? I've got a project blocking on fb62ce618f7fcd44718db26118322420ae9bdbf1. Namely, it seems that packet parsing is super angry since it's not loading any protocols.

Thanks!

[2017-04-11 11:00] sesshomariu opened #168 "Gem does not install properly"
I installed the gem with `sudo gem install packetfu --no-user-install`, there were no error messages. Then I tried to start the REPL, also as root. But it didn't let me. The error message was as follows:
[code]
What did I miss?

I use Arch Linux.

(I know, this really seems like a childish issue, but I install a lot of gems and it always works for me, so this really isn't normal)

[2017-04-20 02:21] claudijd commented on #168
I tried testing this on current master (2e6652b39ef32052713f0725ef517f58f66c0cb0) and I'm not seeing a loading issue when trying to loading packetfu-shell.  I'll test the gem next and see what I figure out for you.

[code]

[2017-04-20 02:27] claudijd commented on #168
I was able to test the lib loading successfully after installing the 1.1.13.pre gem...

[code]

[2017-04-20 02:29] claudijd commented on #168
I was also able to test the lib loading successfully after installing the 1.1.12 gem...

[code]

[2017-04-20 02:30] claudijd commented on #168
err... those tests were on 2.2.3, switching to 2.4.0 to see if that behaves the same as above.

[2017-04-20 03:50] claudijd commented on #168
Confirmed that Ruby 2.4.0 loads PacketFu just fine on 1.1.12

[code]

[2017-04-20 03:51] claudijd commented on #168
@sesshomariu can you please provide repo steps for the above trace you sent?  I'm having trouble replicating your issue.  Hopefully with some more details we can get to the bottom of this.

[2017-04-20 03:55] claudijd commented on #167
@normelton thanks, I'll see what we can do get that fix out in a released gem form.

@todb / @bcook-r7 : any objections to me cutting an official release for 1.1.13?

[2017-04-20 04:00] busterb commented on #167
not at all. metasploit has been using the pre version for a while for the same reason.

If you guys would like, we could see about enabling R7's automatic gem build and signing infrastructure here too. It automatically versions and publishes too.

[2017-04-20 04:04] claudijd commented on #167
@busterb let me know what's needed to enjoy the automatic/signing R7 awesome.  I'll get busy on cutting/pushing 1.1.13 now.

[2017-04-20 04:19] claudijd commented on #167
@normelton PacketFu version 1.1.13 has been released, which should address your blocking issue.  If you have any problems let me know.

[2017-04-20 04:19] #167 closed

[2017-04-20 04:28] claudijd commented on #158
@mudongliang following up on this again.  As for Ruby 1.9.1, it is 100% not supported.  If you can provide a 2.3.0 PoC to replicate the behavior I'd be happy to take a look and figure out what needs to be fixed.

[2017-04-20 04:29] claudijd commented on #152
This has been released a while back, cleaning up this issue.

[2017-04-20 04:29] #152 closed

[2017-04-20 17:26] claudijd commented on #52
This would be kinda nice to have, so I'm revisiting and eliciting feedback.

[2017-04-20 17:30] claudijd commented on #52
I just happened to note when I post anything on twitter the issues don't look at personalized as I would like.

[2017-04-20 17:33] todb-r7 commented on #52
Say maybe we can sucker @darkbushido into designing something for real for us. Ping!

[2017-04-20 17:34] darkbushido commented on #52
What are you looking for?

[2017-04-20 17:35] todb-r7 commented on #52
Something fun and 8-bit that implies kung-fu and networking.

[2017-04-20 17:36] todb-r7 commented on #52
Number of bits optional :)

[2017-04-20 17:37] darkbushido commented on #52
So something that implies kung-fu and networking? any kinda of genre or art style beyond retro gaming?

[2017-04-20 17:38] darkbushido commented on #52
hmm, a mario looking dude in a kung fu outfit running through fibers instead of pipes?

[2017-04-20 17:57] todb-r7 commented on #52
I love it.

[2017-04-20 18:36] busterb commented on #52
Like this, but Packet Fu ![Like This](https://s-media-cache-ak0.pinimg.com/564x/b2/62/88/b26288c8ac4a29136e9decad1b7a870c.jpg)

[2017-04-21 20:37] claudijd commented on #168
I believe the label on this issue is sort of misleading, but in staring at the trace and hypothesizing about how and why this might happen I've come to the conclusion that this would be fixed by #144, which I neglected to land for a very long time.  Assuming no issues, we can probably put out new gem soon to address this.

[2017-04-21 20:37] claudijd commented on #168
Closing under the pretense that #144 fixes this which has been merged into master.

[2017-04-21 20:37] #168 closed

[2017-04-24 20:39] claudijd commented on #158
Closing this as non-actionable due to an inability to reproduce the issue.

Please reopen this issue if you or someone else can provide reproduction steps.  Thanks!

[2017-04-24 20:39] #158 closed

[2017-04-24 21:08] claudijd opened #176 "Add a travis CI build matrix that includes both root/non-root unit-test runs"
PacketFu requires escalated privs ("root") to do some of what it does.  However, in cases where an non-root user does an action, we want to be able to capture that nuance in unit-testing and CI so we don't break those expectations, which are very important to the behavior of PacketFu.

[2017-04-25 02:47] claudijd commented on #44
Addressed capture in #177

[2017-04-25 02:47] claudijd commented on #44
Addressed inject in #178

[2017-04-25 03:28] claudijd commented on #44
Addressed structfu in #179

[2017-04-25 03:30] claudijd commented on #44
Remaining list includes...

- Packet
- TCP

[2017-05-02 19:33] claudijd opened #180 "Support for Layer 2 zigbee"
Got a report in #packetfu from txjoe_ that he was trying to capture and inject zigbee traffic and it was popping InvalidPackets.

My guess here is that perhaps our layer 2 protocols don't support zigbee (I think this could be just native wireless monitor mode layers only or some proprietary zigbee thing).

To solve for this we will need the following...

1. Example PCAP file that's causing the Inv

[2017-05-02 19:47] claudijd commented on #180
Tried PacketFu::Packet.parse against https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=Network_Join_Nokia_Mobile.pcap and I'm seeing similar behavior.  I'm going to guess that a minimum we don't have support for IEEE 802.11 wireless LAN mgmt frames, so we can probably start there.

[2017-05-02 19:59] claudijd commented on #180
Created a small script to help test the packet parsing outside of unit-tests in #181 might be useful in the future if someone is trying to describe this and save some time.

[2017-05-02 20:02] txjoe commented on #180
[cap.txt](https://github.com/packetfu/packetfu/files/971832/cap.txt)

Here's the file which caused the InvalidPacket.
Had to rename the file to .txt as github doesn't support uploading .pcap files.
It's traffic captured from a xiaomi home automation system using the zbdump tool from the killerbee framework.

Alternate link for the pcap file -
https://ufile.io/yl3q3

[2017-06-21 19:24] joewilliams opened #183 "timestamp precision loss"
## Steps to reproduce

How'd you do it?

1. display timestamps from a pcap file
2. compare `usec` timestamps from wireshark/tcpdump and packetfu
3. find timestamps in tcpdump where the `usec` part starts in `0`

From tcpdump:
[code]
The same packet from packetfu:

[code]
`041908` vs `41908`, the leading zero is critical here.

If relevant, please attach relevant PoC code or PCAPs to help with spee

[2017-08-14 15:15] chrean opened #184 "Not working on RHEL/CentOS 7.x because of missing ifconfig"
## Steps to reproduce

Using PacketFu::Utils.ifconfig() will throw an error on CentOS/RHEL 7.x because it won't find ifconfig, which is deprecated on newer RedHat-based distros.

## Expected behavior

A call to

PacketFu::Utils.ifconfig(<anything)

e.g.

PacketFu::Utils.ifconfig(iface)

should return relevant iface data

## Current behavior

Calling

PacketFu::Utils.ifconfig(<anything>)

will retu

[2017-08-15 01:12] claudijd commented on #184
The ifconfig binary is a prerequisite for the PacketFu::Utils.ifconfig call.  IMO, I'm actually in favor of maybe deprecating that function at some point in favor of more programmic non-OS specific means.  If I recall, this basically existed because legacy Rubies weren't as forth coming about OS information.

That said, #ifconfig as a utility is rarely needed, and you can get a lot of this informa

[2017-08-15 01:32] claudijd commented on #184
Here's an example of running the two side-by-side...

	 => true

	 => {:iface=>"en0", :eth_saddr=>"ac:bc:32:85:47:3f", :eth_src=>"\xAC\xBC2\x85G?", :ip6_saddr=>"fe80::aebc:32ff:fe85:473f", :ip6_obj=>#<IPAddr: IPv6:fe80:0000:0000:0000:aebc:32ff:fe85:473f/ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff>, :ip_saddr=>"192.168.10.37", :ip_src=>"\xC0\xA8\n%", :ip4_obj=>#<IPAddr: IPv4:192.168.10.0/255.255.255.0>

[2017-08-16 13:51] chrean commented on #184
Hi and thanks for the answer, very appreciated.

The use case was quite easy: we needed to extract the primary IP address for a given iface/eth (on Linux and if possible on Mac OS X).

So we just wrote:

`ip=PacketFu::Utils.ifconfig(iface)[:ip_saddr]`

By looking at your second comment, using whoami in place of ifconfig should do the job anyway.

But, on my irb:

`irb(main):003:0> PacketFu::Utils.

[2017-08-16 14:38] claudijd commented on #184
@chrean that looks like a bug that was fixed recently.  I'm going to guess you are running an outdated gem install of PacketFu.  Can you tell me what the value of 'PacketFu::VERSION' is from your IRB prompt?  I'm going to guess it's not 1.1.13, which is the latest.

[2017-08-16 14:57] chrean commented on #184
@claudijd you are definitely right, I downgraded to 1.1.12 some days ago for other reasons and forgot to re-update. Now with 1.1.13 it's working, I think we can definitely use whoami? in place of ifconfig.

Thanks so much for your help man!

[2017-08-19 10:04] bcoles opened #185 "PacketFu fails to identify some HSRP packets"
PacketFu fails to identify some HSRP packets.

This issue can be reproduced using the `hsrp` utility and the following sample pcap:

* https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=hsrp-and-ospf-in-LAN

At first I thought it was because the packets use a TTL larger than 1, but that does not appear to be the root cause.

I have not investigated thoroughly.

## Steps to r

[2017-08-19 17:12] bcoles commented on #185
Further investigation reveals this is in fact caused by the TTL.

The [HSRPPacket class](https://github.com/packetfu/packetfu/blob/master/lib/packetfu/protos/hsrp.rb) has a [check for the TTL on line 55](https://github.com/packetfu/packetfu/blob/master/lib/packetfu/protos/hsrp.rb#L55) - `temp_packet.ip_ttl == 1`. Removing this conditional causes PacketFu to function as expected.

The TTL in the sa

[2017-08-22 19:40] claudijd commented on #184
@chrean I'm glad that worked for you, take care!

[2017-08-22 19:40] #184 closed

[2017-08-29 15:56] normelton commented on #167
Thanks, works much better now!

[2017-08-29 16:24] claudijd commented on #167
@normelton awesome, glad it worked out for ya!

[2017-11-02 12:52] chrisvel opened #192 "Another device on this network is using your IP address (OSX)"
## Steps to reproduce

1. Created the packets as provided by the example for ArpSpoof
2. Repeat every 1, 2 or 3 seconds

## Expected behavior

This is not expected as an out of the box functionality, I am just wondering why other software just works. If I use arpspoof, everything seems undetectable.

## Current behavior

When Spoofing starts, after some seconds I get a message on the victim's desk

[2017-12-28 14:12] coretemp opened #193 "Installation instructions do not work"
## Steps to reproduce
There is a misspelling in the readme:
[code]
It is supposed to be bundler install.

When that's resolved, I get the following:

[code]
## System stuff

### Versions

- [x] Ruby Version (ruby -v): ruby 2.3.4p301 (2017-03-30) [x86_64-linux]
- [ x] PacketFu Version (gem list|grep packetfu -or- git log -1):  389f1b23e7a62d1b52283c1c9b2a69c7e6c57b8a
- [ x] OS Version:
 - system: `

[2017-12-30 03:08] claudijd commented on #193
@coretemp I looked into this briefly and was unable to confirm this on Mac OSX using ruby-2.3.4 and  389f1b2.  I'm also running bundler version 1.16.1, what version of bundler are you running?

Here's the log of my installation steps in the case it helps...

 (master) $ pwd
		/Users/jclaudius/code/packetfu
		 (master) $ rvm list

		rvm rubies

		   ruby-2.3.1 [ x86_64 ]
		=> ruby-2.3.4 [ x86_64 ]

[2017-12-30 03:12] claudijd commented on #192
@chrisvel the arp spoof example file is merely an example to show how this could be done.  I wouldn't consider it a fully functional MiTM tool.  I believe the behavior your observing is the iMac observing that another host on the network is claiming to be in and is simply alerting the user.   If you are curious as to why one reports one thing and other reports something else, your best course of a

[2017-12-30 14:31] coretemp commented on #193
Bundler version: 1.14.6.

If you want to do better, document specific versions in the README and preferably in a script. Please, let me just wget an installation script that is guaranteed to work on any Unix derivative. You can also test with a matrix of configuration versions, if you want to do better.

Judging by your response, I wouldn't say that this piece of software is Ruby; it's Mac Ruby at

[2018-01-02 15:20] claudijd commented on #193
@coretemp if you're looking for ease of installation, I would recommend you use the gem install strategy.  I'm not sure if it will result in the same outcome, but it's potentially more user friendly than a source installation.  I would also advise you in maybe upgrading your bundler version in the case this is a bundler bug if you wish to continue to with a source installation.  Lastly, this is op

[2018-01-08 21:17] claudijd commented on #193
@coretemp I spent a little more time today and proactively try to help advance this issue.  It seems NixOS had a rather prescriptive means of doing things and with the little time I have, I can't invest more time to help advance this issue right now.  That said, I'm making some changes to make it forthcoming what OS types are expected to be "supported" to make it more clear up front.  If you do ma

[2018-01-08 21:18] claudijd commented on #193
https://github.com/packetfu/packetfu/pull/195 <= more upfront about OS support here.

[2018-01-16 15:31] coretemp commented on #193
Thanks for the updates. Part of my confusion was that `bundle` also is a Go application.

[2018-02-14 23:53] do11 opened #196 "How to set IP Options?"
How to set IP Options (in IP header) with this library? I don't need to parse them, just to set and get them as a string.

[2018-02-15 16:39] claudijd commented on #196
I took a quick peek at the IP header implementation here, and it doesn't seem like we've made accommodations for it.

https://github.com/packetfu/packetfu/blob/master/lib/packetfu/protos/ip/header.rb#L128-L139

Looked at the spec here, and it seems like it's right before the data payload...

http://www.rhyshaden.com/ipdgram.htm

In the current implementation, I wonder if pre-pending the raw option

[2018-02-15 16:42] claudijd commented on #196
On second thought, pre-pending to the body won't be enough, you'd likely also need to adjust payload lengths and all that.  I think the best course of action here would be to add support for IP Options setting.  If you'd like to send a PR for this, we can certainly review it for inclusion into the library.

[2018-03-13 12:10] fabianfrz opened #197 "length not correctly"
## Steps to reproduce
TypeError: no implicit conversion of nil into Integer
from $HOME/.gem/ruby/gems/packetfu-1.1.13/lib/packetfu/protos/eth/header.rb:41:in `pack'

[code]

How'd you do it?

Version with lots of packets failing:
[code]

Version with Workaround:
[code]

If relevant, please attach relevant PoC code or PCAPs to help with speedy reproduction.

Sorry but the PCAP is too big for an upl

[2019-05-15 20:58] awilliams000 opened #201 "rvmsudo to start packetfu-shell.rb causes SecurityError"
## Steps to reproduce

How'd you do it?

1. rvmsudo ruby examples/packetfu-shell.rb
2. Command executed on Ubuntu 14.04 and 16.04 works correctly, seems to be OSX based

If relevant, please attach relevant PoC code or PCAPs to help with speedy reproduction.

## Expected behavior

What should happen?

Packetfu shell should start without errors or warnings with root privs enabling packet injection.

[2019-09-18 22:51] ninp0 opened #202 "IPv6 Tunnel Interface, "terado" Service Breaks PacketFU::Utils.whoami? Method"
Greetings,

Finding:
The following line:
https://github.com/packetfu/packetfu/blob/4725f6198f48d165040a3477c69fd0d9aecd3693/lib/packetfu/utils.rb#L196

Resides in an expanded version of this block:
[code]

In some cases the block above will return a NilClass object, which ultimately breaks the aforementioned link.  The issue is it's attempting to call ifaddr.addr.ip? on a nil object in rare cases.

[2020-05-03 22:25] crondaemon opened #204 "Wrong behavior following README"
## Steps to reproduce
Just follow the instructions provided in the README:

[code]

## Expected behavior

I expected to see

[code]

## Current behavior

[code]

Indeed tshark also shows:

[code]

## System stuff

### Versions

- Ruby Version (ruby -v): ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-gnu]
- PacketFu Version (gem list|grep packetfu -or- git log -1): version-1.1.12.pre-105-g

[2020-09-23 19:54] #204 closed

[2021-10-14 17:45] friedrico opened #206 "whoami, ipconfig broken"
## Steps to reproduce

How'd you do it?
[code]

## Expected behavior

What should happen?
print the interface parameters
## Current behavior
doesnt do shit

What happens instead?
shit

## System stuff
[code]
### Versions

- Ruby Version (ruby -v): ruby 2.7.4p191 (2021-07-07 revision a21a3b7d23) [x86_64-linux-gnu]
- and: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-linux]
- PacketFu Vers

[2022-11-09 22:21] 4zv4l commented on #206
I wish it can be fixed too, I also have issues with `ifconfig`